<<<<<<< HEAD

body {
  /*font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;*/
  padding: 1em;
  background-color: #2B2B2B;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
=======
body {
  background-color: #2b2b2b;
>>>>>>> aad9d0cb842af787186978e2a56df7b6972a418e
}

.title {
  text-align: center;
  color: #FFEED3;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.3em;
}

.stitre {
  text-align: left;
  color: #FFEED3;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.4em;
  padding-left: 20px;
}

.logo {
  position: absolute;
  width: 163px;
  height: 169px;
  left: 65px;
  top: 30px;
  border-radius: 121.5px;
}

.stitre:before {
  content: "";
  height: 28px;
  width: 5px;
  top: 8px;
  left: 0px;
  background-color: #E2A539;
}

.div3 {
  position: relative;
}

.chapo {
  text-align: justify;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  text-align: justify;
}

.div {
  margin: auto;
  width: 800px;
  height: auto;
}

.div2 {
  margin-top: 50px;
  font-size: 1.2em;
  font-weight: bold;
}


h1 {
  font-family: "Bebas Neue", cursive;
  color: #FFEED3;
  padding-top: 60px;
  font-size: 64px;
}


body.comments .row.row-comments {
  display: flex;
  flex-direction: row;
}
body.comments .row.row-comments header {
  position: relative;
  width: 300px;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body.comments .row.row-comments header .fixed-header {
  background-color: #FFEED3;
  position: fixed;
  width: 300px;
  height: 100vh;
}
body.comments .row.row-comments header .logo {
  position: absolute;
  width: 163px;
  height: 169px;
  left: 65px;
  top: 30px;
  border-radius: 121.5px;
}
body.comments .row.row-comments header nav.menu-nav ul.admin-panel-links {
  padding-top: 250px;
}
body.comments .row.row-comments header nav.menu-nav ul.admin-panel-links li.btn {
  position: relative;
  padding: 0;
  margin: 2px 0;
  color: #2B2B2B;
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  text-align: left;
  display: block !important;
  transform: translateX(0);
  transition: 0.2s all;
}
body.comments .row.row-comments header nav.menu-nav ul.admin-panel-links li.btn:hover {
  transform: translateX(25px);
}
body.comments .row.row-comments header nav.menu-nav ul.admin-panel-links li.btn:hover a {
  color: #E2A539;
}
body.comments .row.row-comments header nav.menu-nav ul.admin-panel-links li.btn.btn-active {
  transform: translateX(39px);
}
body.comments .row.row-comments header nav.menu-nav ul.admin-panel-links li.btn.btn-active::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 5px;
  left: -20px;
  background-color: #E2A539;
}
body.comments .row.row-comments main {
  flex: 1;
}
body.comments .row.row-comments main .comment {
  display: flex;
  color: white;
}
body.comments .row.row-comments main .comment .profil {
  width: 180px;
  text-align: center;
}
body.comments .row.row-comments main .comment .profil .image-box {
  background-color: rosybrown;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
body.comments .row.row-comments main .comment .profil .image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body.comments .row.row-comments main .comment .profil .name {
  font-family: Bebas Neue;
}
body.comments .row.row-comments main .comment .comment-content {
  flex: 1;
}
body.comments .row.row-comments main .comment .comment-content .comment-title {
  display: flex;
  align-items: center;
}
body.comments .row.row-comments main .comment .comment-content .comment-title h2 {
  margin: 0;
  margin-top: 3px;
  font-family: Bebas Neue;
}
body.comments .row.row-comments main .comment .comment-content .comment-title .icons {
  margin: 0 20px;
}
body.comments .row.row-comments main .comment .comment-content p {
  font-family: Montserrat;
}



























/*
nav.menu-nav ul li.btn {
  color: #2B2B2B;
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  text-align: left;
}

ul.admin-panel-links {
  padding-top: 50px;
}
ul.admin-panel-links li {
  display: block !important;
  padding: 15px;
}
ul.admin-panel-links li:hover {
  transform: translate(50px, 0px);
}
ul.admin-panel-links li:hover a {
  color: #E2A539;
}
ul.admin-panel-links li:visited a {
  color: blue;
}

#article-nav {
  transform: translate(50px, 0px);
  color: #E2A539;
}

header {
  position: absolute;
  position: fixed;
  width: 314px;
  height: 100%;
  left: 0px;
  top: 0px;
  bottom: 100%;
  background-color: #FFEED3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle {
  position: absolute;
  width: 4px;
  height: 25px;
  left: 150px;
  top: 288px;
  background: #E2A539;
}*/

<<<<<<< HEAD
=======
/*# sourceMappingURL=temoignage.css.map */
>>>>>>> aad9d0cb842af787186978e2a56df7b6972a418e
