body {
    font-family: "Bebas Neue", sans-serif;

    input, p, textarea, option, select {
        font-family: 'Montserrat', sans-serif;
        color: #000;
    }

    table, td, tr, th, p, h1, h2, h3, h4, h5, label, div{
        color: white;
    }
    
    .list-group, .list-group li {
        color: #fff;
        background-color: transparent!important;
        border-color: transparent;
    }
    .list-group {
        margin-bottom: .5rem;
    }
    

}


