header {
    background-image: url("../../../assets/images/home.jpg");
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
    background-color: #2B2B2B;

    &:before {
        content: "";
        position: absolute;
        top: -68px;
        height: 70px;
        background-color: #2B2B2B;
        left: 0;
        right: 0;
        clip-path: url(#courbe);
    }

    .showmore {
        text-align: center;

        .btn.btn-show {
            text-align: center;
            background: #FFEED3;
            border-radius: 4px;
            color: #2B2B2B;
            padding: 4px 45px;
            font-size: 1.4em;
        }
    }

}