.container.profil {
    margin-top: 50px;
    body{
        background-color: #2b2b2b;
    }
    
    .changerutilisateur{
        color: #FFEED3;
        font-size: 24px;
    }
    
    .changeremail{
        color: #FFEED3;
        font-size: 24px;
    }
    .changerpassword{
        color: #FFEED3;
        font-size: 24px;
    }

    .head {
        text-align: center;

        .title {
            position: relative;
            display: inline-block;
            color: #FFEED3;
            font-size: 3.2em;
            line-height: 1em;
    
            &::before {
                content: "";
                position: absolute;
                top: -4px;
                height: 4px;
                left: 0;
                right: 0;
                background-color: #E2A539;
            }
        }

        @media screen and (max-width: 575px) {
            .title {
                font-size: 2em;
            }
        }

        .alert {
            text-align: left;
        }
    }
    
    .btn-edit{
       background-color: #FFEED3;
       color: #2b2b2b;
    
    }
    .btn-edit:hover, .btn-edit:active {
        background-color: white;
        color: #2b2b2b;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image-user{
            height: 200px;
            width: 200px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        button {
            margin-top: 30px;
        }
    }


    form {
        text-align: left;
        padding: 40px 0;
        input {
            font-family: 'Montserrat';
        }
        label {
            color: #FFEED3;
            margin-bottom: 2px;
        }

    }
}