nav {
    padding: 15px 0;
    .head {
        font-size: 1.1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;


        .lang {
            margin: 0 10px;
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;

            svg {
                height: 20px;
                transform: rotate(0deg);
                transition: all .2s;
                path {
                    fill: #E2A539;
                }
            }

            &.grow {
                ul {
                    max-width: 100px;
                    padding-left: 10px;
                    li {
                        width: 20px;
                    }
                }

                svg {
                    transform: rotate(-90deg);
                }
            }
            ul {
                box-sizing: content-box;
                height: 100%;
                display: flex;
                flex-direction: row;
                padding: 0;
                margin: 0;
                max-width: 15px;
                overflow: hidden;
                transition: all .4s;

                li {
                    display: block;
                    flex-shrink: 0;
                    width: 15px;
                    transform: translateY(0px);
                    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);

                    &:hover {
                        transform: translateY(-4px);
                    }
                    a {
                        display: block;
                        color: #FFF;
                        font-size: 1em;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .btn {
            height: 100%;
            position: relative;
            padding: 0 14px;
            font-size: 1em;

            a {
                display: block;
                transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transform: translateY(0);
                color: #FFF;
                text-decoration: none;
            }
            &:hover a {
                transform: translateY(-4px);
            }
        }
        .btn-member {
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                right: 0;
                top: -2px;
                bottom: 1px;
                background-color: #E2A539;
                transition: all .4s;
            }

        }
    }



    ul.links {
        position: relative;
        padding: 0;
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        overflow: hidden;

        span {
            content: "";
            position: absolute;
            height: 2px;
            bottom: -4px;
            background-color: #E2A539;
            transition: all .2s;
        }
        li {
            padding-left: 25px;
            a.btn {
                padding: 0;
                font-size: 1.5em;
                line-height: 1em;
                color: #FFF;


                &:hover {
                    color: #FFF;
                }
            }
        }
    }
}