nav {
  
    .head {
        svg path {
            fill: #000;
        }

        .lang ul li a {
            color: #000;
        }

        .btn-member {
            a {
                color: #000;
            }
        }
    }

    ul.links li a.btn {
        color: #000;
        &:hover {
            color: #000;
        }

    }
}