
body {
    background-color: #2B2B2B;
}

section.articles {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;

    p {
        margin: 0;
    }
    
    .section-title {
        position: relative;
        display: inline-block;
        color: #FFEED3;
        font-size: 3.2em;
        line-height: 1em;
        text-align: center;
        margin-bottom: 4rem;

        &::before {
            content: "";
            position: absolute;
            top: -4px;
            height: 4px;
            left: 0;
            right: 0;
            background-color: #E2A539;
        }
        span {
            position: absolute;
            font-size: 1.2rem;
            line-height: 1em;
            font-family: 'Montserrat';
            top: 100%;
            white-space: nowrap;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
        }
    }
    

    article.article {
        margin-top: 30px;
        margin-bottom: 30px;
        overflow: hidden;


        & > * {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        
    }

    article.article .article-illu {

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    article.article .article-content {
        display: flex;
        flex-direction: column; 
        .title {
            text-align: left;
            position: relative;
            padding-left: 14px;
            color: #FFEED3;
            font-size: 1.75rem;
            line-height: 1em;

 
            &:before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                height: 100%;
                width: 4px;
                background: #E2A539;
            }
        }

        .text {
            margin: 10px 0;
            flex: 1;
            text-align: right;
            p {
                font-family: Montserrat;
                color: white;
                font-size: 1.1em;
                text-align: justify;
            }
        }

        .keywords {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                padding-left: 0;
                overflow: hidden;
                li {
                    padding: 2px 10px;
                    margin: 3px;
                    background-color: white;
                    white-space: nowrap;
                }
            }
        }
        .link {
            text-align: right;
            .btn {
                background: #FFEED3;
                border-radius: 4px;
                color: #2B2B2B;
                padding: 4px 45px;
              
            }
        }
    }
}