header {
    position: relative;
    background: #2B2B2B;

    .row {
        height: 100%;
        min-height: 30vw;
        width: 100%;

    }

    .header-left {
        background-color: #FFEED3;;
        position: relative;
        clip-path: url(#svgPath);
        min-height: 100vh;

        .content {
            text-align: center;
            svg {
                margin-top: 40px;
                margin-right: 180px;
                margin-left: 20px;
                width: 243px;
            }
        }
    }

    .header-right {
        display: flex;
        flex-direction: column;
        nav {
            height: 140px;
            padding: 0 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .btn {
                text-transform: uppercase;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4em;
                border-radius: 10px;
                margin: 0 5px;
                padding: 2px 22px;
            }
    
            .btn-top-main {
                background-color: #FFEED3;
                color: #2B2B2B;
                transform: translateY(0px);
            }
    
            .btn-top-second {
                background-color: unset;
                color: #FFEED3;
            }
        }

        .content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;



            .title {
                width: 100%;
                margin: 0 40px;
                color: #FFEED3;
                text-transform: uppercase;
                font-size: 4em;
                text-align: center;
            }
        }
        .forms-name{
        display: flex;
        flex-direction: row;
        justify-content: center;

        }
        .form-surname {
            border: 2px solid #FFEED3;
            box-sizing: border-box;
            border-radius: 10px;
            
            background: #2B2B2B;
            flex: 1;
            color: #FFEED3;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            padding: 15px;
            margin: 10px

        }
        .form-name {
            border: 2px solid #FFEED3;
            box-sizing: border-box;
            border-radius: 10px;
            
            background: #2B2B2B;
            flex: 1;
            color: #FFEED3;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            padding: 15px;
             margin: 10px

        }

        .form-mail {
            border: 2px solid #FFEED3;
            box-sizing: border-box;
            border-radius: 10px;
            background: #2B2B2B;
            color: #FFEED3;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            padding: 15px;
            margin: 10px
        }

        .placeholder {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFEED3;
            opacity: 0.5;

        }
        .checkboxalign {
        text-align: center;
        }


        .form-check{
       margin: 10px;
        }
        .form-check-text{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #FFEED3;
        }
        
        .button{
        text-align: center;
        }
        .btn-inscription{
            background: #FFEED3;
            border-radius: 10px;
            font-family: Bebas Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #2B2B2B;
        }
        .end {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFEED3;
        }

        .connexion {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        color: #FFEED3;
        justify-content: center;
        
        }
        .alignconnexion{
        text-align: center;
        }
    }
}