header {
    position: relative;
    background-image: url("../../assets/images/home.jpg");
    background-position: center;
    background-size: cover;

    .row {
        height: 100%;
        min-height: 30vw;
    }

    .header-left {
        background-color: #FFEED3;;
        position: relative;
        clip-path: url(#svgPath);
        min-height: 100vh;
        overflow: hidden;

        canvas {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            min-width: 100%;
            height: 100%;
            z-index: -1;
        }

        .content {
            svg {
                margin-top: 40px;
                margin-left: 30px;
                width: 230px;
            }

            
            @media screen and (max-width: 992px) {
                svg {
                    width: 180px;
                    margin-left: 10px;
                }
            }
            @media screen and (max-width: 768px) {
                svg {
                    width: 110px;
                    margin-left: 0;
                }
            }
        }
    }

    .header-right {
        display: flex;
        flex-direction: column;
        
        .content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .bigtitle {
                width: 100%;
                margin: 0 auto;
                max-width: 700px;
                color: #FFEED3;
                text-transform: uppercase;
                font-size: 7.5em;

                span {
                    display: block;
                    width: 100%;
                    line-height: 1em;

                    &:first-child {text-align: left;}
                    &:last-child {text-align: right;}
                }

                @media screen and (max-width: 768px) {
                    & { 
                        font-size: 5em;
                    }
                }
            }
        }
        
    }

    @media screen and (max-width: 576px) {
        .header-left {
            min-height: 0;
            height: 100px;
            width: 100%;
            clip-path: none;

            .content  {
                display: flex;
                align-items: center;
                height: 100%;
                svg {
                    margin: 0;
                    height: 70px;
                }

            }
        }
    }
}